<div class="public-container w-100 h-100 d-flex align-items-center flex-row-reverse">

  <form class="d-flex flex-column align-items-center justify-content-center" [formGroup]="formGroup"
    (ngSubmit)="changePassword()">
    <img class="app-logo" src="assets/images/logo.svg" alt="" />
    <div class="title text" style="margin-top: 0px;">{{ "login.Titel" | translate }}</div>
    <input type="hidden" formControlName="userId" name="userId" id="userId" />
    <div class="form-group">
      <div class="input">
        <input [type]="passType" id="newPassword" class="form-control"
          placeholder='{{ "login.New_Password" | translate }}' formControlName="newPassword">
        <span class="iconGroup icon-eye" (click)="changePasswordType()"></span>
      </div>
      <div class="text-danger h-1" *ngIf="formGroup.get('newPassword')?.errors?.pattern">
        <div role="alert">
          '{{ "login.Error_Passwword" | translate }}'
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="input">
        <input [type]="passType" id="confirm_password" class="form-control"
          placeholder='{{ "login.Confirm_Password" | translate }}' formControlName="confirm_password">
        <span class="iconGroup icon-eye" (click)="changePasswordType()"></span>
      </div>
      <div class="text-danger h-1"
        *ngIf="formGroup.get('confirm_password')?.errors?.mustMatch && !formGroup.get('newPassword')?.errors?.pattern">
        <div role="alert">
          '{{ "login.Error_Confirm" | translate }}'
        </div>
      </div>
      <div class="text-danger h-1"
        *ngIf="(
      formGroup.get('newPassword')?.errors?.required && formGroup.get('newPassword')?.touched ||
      formGroup.get('confirm_password')?.errors?.required && formGroup.get('confirm_password')?.touched) && !(formGroup.get('newPassword')?.errors?.pattern || formGroup.get('confirm_password')?.errors?.mustMatch)">
        <div role="alert">
          '{{ "login.Error_Empty" | translate }}'
        </div>
      </div>
    </div>
    <!-- <div *ngIf="formGroup.get('newPassword')?.errors?.pattern ||
    formGroup.get('newPassword')?.errors?.required && formGroup.get('newPassword')?.touched || formGroup.get('confirm_password')?.errors?.required && formGroup.get('confirm_password')?.touched ||
    formGroup.get('confirm_password')?.errors?.mustMatch">

      <div class="form-group row text-danger" *ngIf="formGroup.get('newPassword')?.errors?.pattern">
        <div role="alert">
          '{{ "login.Error_Passwword" | translate }}'
        </div>
      </div>
      <div class="form-group row text-danger"
        *ngIf="formGroup.get('confirm_password')?.errors?.mustMatch && !formGroup.get('newPassword')?.errors?.pattern">
        <div role="alert">
          '{{ "login.Error_Confirm" | translate }}'
        </div>
      </div>

      <div class="form-group row text-danger"
        *ngIf="(
      formGroup.get('newPassword')?.errors?.required && formGroup.get('newPassword')?.touched ||
      formGroup.get('confirm_password')?.errors?.required && formGroup.get('confirm_password')?.touched) && !(formGroup.get('newPassword')?.errors?.pattern || formGroup.get('confirm_password')?.errors?.mustMatch)">
        <div role="alert">
          '{{ "login.Error_Empty" | translate }}'
        </div>
      </div>
    </div> -->
    <div class="form-group" style="margin-top: 0px;">
      <button type="submit" class="form-control btn btn-primary" [disabled]="invalid" (click)="changePassword()">{{
        "common.button.CONFIRM" | translate }}</button>
    </div>
    <!-- <div class="flex-grow"></div> -->
  </form>
  <div class="copyright">Powered by SODAUBAI</div>
</div>