<div class="public-container w-100 h-100 d-flex justify-content-center align-items-center">
  <form class="d-flex flex-column align-items-center" autocomplete="off" [formGroup]="formGroup" (ngSubmit)="onSubmit()"
    *ngIf="!token && !message.pleaseCheckMailbox">
    <img class="app-logo" src="assets/images/logo.svg" alt="">
    <div class="title text">{{'login.ForgotPassword'|translate}}</div>
    <div class="form-group text-center text">
      <div><span>{{'login.EmailEnter'| translate}}</span>
        <span>{{'login.EmailEnter1'| translate}}</span>
      </div>
      <div *ngIf="message.success">
        <div>{{'login.ForgotSuccess'| translate}}</div>
        <div><a routerLink="/">Login</a></div>
      </div>
      <div *ngIf="message.pleaseCheckMailbox">
        {{'login.ForgotEmail'| translate}}
      </div>
      <div *ngIf="message.passwordNotMatched">
        {{'login.ForgotPass'| translate}}
      </div>
      <div *ngIf="message.somethingWrong">
        {{'login.ForgotError'| translate}}
      </div>
      <div *ngIf="message.serverMessage">
        {{message.serverMessage}}
      </div>
    </div>
    <div class="form-group">
      <input type="email" id="email" class="form-control" placeholder="email@company.com" formControlName="email"
        title="This field value must be valid email address" maxlength="64" minlength="4" />
    </div>
    <div class="form-group">
      <button type="submit" class="form-control btn btn-primary">{{'login.ResendPassword'|translate}}</button>
    </div>
    <div class="flex-grow"></div>
    <a class="footer-text text" [routerLink]="['/ui/login']">{{'login.Login'|translate}}</a>
  </form>

  <form class="d-flex flex-column align-items-center" autocomplete="off" *ngIf="!token && message.pleaseCheckMailbox">
    <img class="app-logo" src="assets/images/logo.svg" alt="">
    <div class="title text">{{'login.PasswordRetrieval'|translate}}</div>
    <div class="form-group text">
      <h3>{{'login.ForgotSuccess2'| translate}}</h3>
      <div>{{'login.ForgotSuccess'| translate}}
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="form-control btn btn-primary" (click)="goHome()">Home</button>
    </div>
  </form>

  <form class="d-flex flex-column align-items-center" [formGroup]="formGroup2" (ngSubmit)="onSubmit2()" *ngIf="token">
    <img class="app-logo" src="assets/images/logo.svg" alt="">
    <div class="title text">{{'login.PasswordRetrieval'|translate}}</div>
    <div class="form-group text">
      <div>{{'login.ForgotPass2'| translate}}
      </div>
      <div *ngIf="message.success">
        <div>{{'login.ForgotSuccess'| translate}}</div>
        <div><a routerLink="/">Login</a></div>
      </div>
      <div *ngIf="message.somethingWrong">{{'login.ForgotError'| translate}}
      </div>
      <div *ngIf="message.serverMessage">{{message.serverMessage}}</div>
    </div>
    <br />
    <div class="form-group">
      <input type="password" id="password" class="form-control" placeholder="password" formControlName="yourPassword"
        title="This field is required and at least 4 characters" maxlength="128" minlength="4" />
    </div>
    <div class="form-group">
      <input type="password" id="re_password" class="form-control" placeholder="password confirm"
        formControlName="retypePassword" title="This field is required and at least 4 characters" maxlength="128"
        minlength="4" />
    </div>
    <div class="form-group">
      <button type="submit" class="form-control btn btn-primary">{{'login.ForgotSubmit'| translate}}</button>
    </div>
    <div class="flex-grow"></div>
    <a class="footer-text text" [routerLink]="['/ui/login']">{{'login.Login'|translate}}</a>
  </form>
</div>