<div class="public-container w-100 h-100 d-flex align-items-center flex-row-reverse">

  <form class="d-flex flex-column align-items-center justify-content-center" [formGroup]="formGroup"
    (ngSubmit)="onSubmit()">
    <img class="app-logo" src="assets/images/logo.svg" alt="" />
    <div class="form-group">
      <div class="input">
        <input type="email" id="email" class="form-control" placeholder="email@company.com" formControlName="email"
          [title]="'login.EmailTitle' | translate" maxlength="64" minlength="4" #emailAddress />
      </div>
    </div>
    <div class="form-group">
      <div class="input">
        <input [type]="passType" id="password" class="form-control" placeholder="password" formControlName="password"
          [title]="'login.PasswordTitle' | translate" maxlength="128" minlength="4" />
        <span class="iconGroup icon-eye" (click)="changePasswordType()"></span>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="form-control btn btn-primary">
        {{'login.Login'| translate}}
      </button>
    </div>
    <div *ngIf="message.emailNotVerifiedMessage" class="text-center mt-10 alert alert-danger" role="alert">
      {{ "login.emailNotVerifiedMessage" | translate }}
      <a class="text" [routerLink]="['/ui/resend-verify', this.formGroup.value.email]">{{'login.EmailConfirm'|
        translate}}</a>
    </div>
    <div *ngIf="message.badCredentialsMessage" class="text-center mt-10 alert alert-danger" role="alert">
      {{ "login.badCredentialsMessage" | translate }}
    </div>
    <div *ngIf="message.somethingWrong" class="text-center mt-10 alert alert-danger" role="alert">
      {{ "login.somethingWrong" | translate }}
    </div>
    <div *ngIf="message.serverMessage && (formGroup.value.email == '' && formGroup.value.password == '')"
      class="text-center mt-10 alert alert-danger" role="alert">
      {{ "login.Error2" | translate }}
    </div>
    <div class="flex-grow"></div>
    <a class="footer-text text" [routerLink]="['/ui/forgot-passwd']"> {{ "login.ForgotPassword" | translate }}</a>

  </form>
  <div class="copyright">Powered by SODAUBAI</div>
</div>