<main class="main-content container-fluid">
  <div class="container">
    <div class="row">
      <!-- <div class="leftSide">
        <sidebar></sidebar>
      </div> -->
      <div class="rightSide">
        <!-- <navbar></navbar> -->
        <div class="main-content">
          <router-outlet></router-outlet>
          <div class="coppyright fs-15 mt-3 mb-3 align-self-start ml-3">
            <b>{{ "footer.text" | translate }}</b>
            <div>
              <a style="color: green" href="/">SDB<sup>TM</sup></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- loader -->
  <div class="loading" [ngClass]="{ 'loading-bg-blur': state.enableBgBlur,
  'loading-hide': state.isLoaded }">
    <div class="spinner-bounce-circle">
      <div>Loading...</div>
      <div>Info...</div>
    </div>
  </div>
</main>
<!--
<avatar-update></avatar-update>
<app-password-update></app-password-update>
-->