<div class="modal fade bd-example-modal-lg updatePassword" id="updatePassword" tabindex="-1" role="dialog"
  aria-labelledby="updatePassword" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="width: 80%; display: block; margin-left: auto; margin-right: auto">
      <div class="modal-header text-center border-0 w-100 d-flex justify-content-between">
        <h5 class="modal-title">{{'UserProfile.ResetPassword'|translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pl-5 pr-5 pb-0 pt-0">
        <form [formGroup]="changpass">
          <div class="modal-body pl-5 pr-5 pb-0 pt-0">
            <div class="form-group row">
              <div class="col-12">
                <div class="md-form mb-0 mt-0">
                  <span class="label" for="name">{{'UserProfile.PasswordOld'|translate}}</span>
                  <input type="password" formControlName="password" id="password" name="password"
                    class="form-control validate" placeholder="{{'UserProfile.PasswordOld'|translate}}">
                </div>
                <div class="text-danger h-1"></div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-12">
                <div class="md-form mb-0 mt-0">
                  <span class="label" for="username">{{'UserProfile.PasswordNew'|translate}}</span>
                  <input type="password" formControlName="newPassword" id="newPassword" name="newPassword"
                    class="form-control validate" placeholder="{{'UserProfile.PasswordNew'|translate}}">
                </div>

                <div class="text-danger h-1">
                  <div role="alert"
                    *ngIf="changpass.get('newPassword')?.errors?.required && changpass.get('newPassword')?.touched">
                    {{'UserProfile.PasswordEnter'| translate}}
                  </div>
                  <div role="alert" *ngIf="changpass.get('newPassword')?.errors?.pattern">
                    {{'UserProfile.formatPassword'| translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-12">
                <div class="md-form mb-0 mt-0">
                  <span class="label" for="email">{{'UserProfile.AnewpasswordEnter'|translate}}</span>
                  <input type="password" id="confirm_password" formControlName="confirm_password"
                    name="confirm_password" class="form-control validate"
                    placeholder="{{'UserProfile.AnewpasswordEnter'|translate}}">
                </div>
                <div class="text-danger h-1">
                  <div role="alert"
                    *ngIf="changpass.get('confirm_password')?.errors?.required && changpass.get('confirm_password')?.touched">
                    {{'UserProfile.ConfirmPass'| translate}}
                  </div>
                  <div role="alert" *ngIf="changpass.get('confirm_password')?.errors?.mustMatch">
                    {{'UserProfile.MustMacth'| translate}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer border-0 pl-5 pr-5">
            <button type="button" class="btn btnSecondary" data-dismiss="modal" (click)="close()">
              {{'common.button.CANCEL'|translate}}
            </button>
            <button type="submit" class="btn btnPrimary" data-dismiss="modal" (click)="changePassword()"
              [disabled]="invalid">
              {{'common.button.UPDATE'|translate}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
